# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\intra\desktop\gitCommitFolder\Spring-STUDY\4thEdition-master\chapter 1\ch01-bankapp-xml\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
